@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
.cardsContent{
    background-color: #1a1814;
    font-family: 'Nunito', sans-serif;
}
.aboutHead{
    color: #ea8339e7;
}

